{{ void(this.beginBlock('content')) }}
	{% set section = _Blog.getBlog() %}
	{% set networkData = _Network.getNetworkData() %}

	{{ set(this, 'title', section.title) }}

	{% set hasBlogImage = FALSE %}
	{% set blogImage = "" %}
	{% if section.media['cover']['path'] is not empty %}
	    {% set blogImage = section.media['cover']['path'] %}
	    {% set hasBlogImage = TRUE %}
	{% endif %}

	{% set title = section.title %}
	{% set coverImage =  section.media.cover.path %}
	{% set shortDescription = section.shortDescription %}

    <div class="channel__container">
        <div class="col-full channel__header">
            <article class="card--channel {{ channelObject[category|lower] }}">
                <a href="#" class="card card__no-image" style="background-image: url('{{coverImage}}');" {% if image is defined %}style="background-image: url('{{ image }}'); background-size: cover;"{% endif %}>
                    <div class="card__overlay">
                        <div class="card__content_wrap">
                            <div class="card__content">
                                <h3 class="card__headline">{{ title }}</h3>
                                <p class="card__text">{{ shortDescription }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </article>
        </div>
        <div class="channel">
					{% set limit = 20 %}
					{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
					{% set articles = articlesArr.articles %}

            {% if articles|length > 0 %}
                {% include 'layouts/elements/_card-layout-blog.twig' with {articles: articles} %}
            {% endif %}
        </div>
    </div>
		{# <textarea style="height: 200px; width: 100%;">section: {{dump(section)}}</textarea>
		<textarea style="height: 200px; width: 100%;">articles: {{dump(articles)}}</textarea>

		<h2>I am channel.twig</h2> #}


		{{ void(this.endBlock()) }}
