{{ void(this.beginBlock('content')) }}
{{ set(this, 'title', page.title | raw) }}
{% set businessDetails = _Blog.getHomeBlogSettings() %}
    <div class="static-page__body">
        <div class="static-page">
            <div class="static-page__container">
                <div class="static-page__intro">{{page.title | raw}}</div>
                {{ page.content | raw }}
            </div>
        </div>
    </div>
{{ void(this.endBlock()) }}
