{{ void(this.beginBlock('content')) }}
{% set networkData = _Network.getNetworkData() %}
{{ set(this, 'title', 'Search - ' ~ search) }}


{% set limit = 20 %}
{% set articles = _Search.searchArticles({'limit': limit, 'offset': 0, 'search': search}) %}

	<div class="search__container">
		<h1 class="search__heading">{{ articles|length }} Search result{% if articles|length < 1 %}s{% endif %} for {{ search }}</h1>

		<div class="search__form-big">
			<form action="{{blog.url}}/search" method="get">
				<input type="text" class="header__search-text" placeholder=" " name="s" value="{{ search }}">
				<button class="header__search-btn">
					{# {% include '{{networkData.templatePath}}/static/images/icons/search-magnifying-glass.svg' | raw %} #}
					<img src="{{networkData.templatePath}}/static/images/icons/search-magnifying-glass.svg"/>
				</button>
			</form>
		</div>

		<div class="search">
			{% if articles|length > 0 %}
				{% for article in articles %}
					<div class="col-third">
						{% include 'layouts/elements/card.twig' %}
					</div>
				{% endfor %}
			{% else %}
				<p>Your search for “{{ s }}” didn’t return any results.</p>
			{% endif %}
		</div>
	</div>
{# <textarea style="height: 600px; width: 100%">{{dump(articles)}}</textarea> #}
{{ void(this.endBlock()) }}
