{% if keyword is defined and keyword is not empty %}
    {% set cta = _CallToAction.getKeywordBasedCTA(keyword)%}
    {% if cta is defined and cta is not empty %}
        {% set ctaBackgroundImage = ''%}
        {% if(cta.media['id'] is defined and cta.media['id'] is not empty) %}
            {% set ctaBackgroundImage = _Media.getMediaUrl(cta.media,0,0,{'crop': 'fill'}) %}
        {% endif %}
        {{this.registerCss("
            .cta_block_"~cta.id~" .button.blue {
                border-color: "~cta.button['backgroundColor']~";
                background: "~cta.button['backgroundColor']~"
            }
            .cta_block_"~cta.id~" .button.blue:hover {
                color: "~cta.button['backgroundColor']~";
                border-color: "~cta.button['backgroundColor']~";
                background: none repeat scroll 0 0
            }
        ")}}
        <a class="deloitte-banner call-to-action-wrapper cta_block_{{cta.id}}" href="{{cta.button['url']}}" {% if ctaBackgroundImage is not empty or cta.backgroundColor is not empty %} style="display:block;{{ (ctaBackgroundImage is not empty) ? 'background-image: url('~ctaBackgroundImage~');' : ''}}{{ (cta.backgroundColor is not empty) ? 'background-color: '~cta.backgroundColor~';' : ''}}"{% endif %}>
            <div class="deloitte-banner__overlay" {% if {{cta.id}} == 46 %}style="background-color: rgba(0, 118, 118, 0.5)!important;"{% endif %}>
                <div class="deloitte-banner__container">
                    <div class="deloitte-banner__left">
                        <div class="deloitte-banner__small-text">The Resolution is proudly sponsored by:</div>
                        {% if {{cta.id}} == 46 %}
                            <img src="{{_Network.getNetworkData().templatePath}}/static/images/deloit-logo.svg" alt="">
                        {% else %}
                            <img src="{{_Network.getNetworkData().templatePath}}/static/images/pp-logo.svg" alt="">
                        {% endif %}
                        <div class="deloitte-banner__slogan">{{cta.title |raw}}</div>
                    </div>
                    <div class="deloitte-banner__right">
                        <span>{{cta.description |raw}}</span>
                    </div>
                </div>
            </div>
        </a>
    {% endif %}
{% endif %}