{% set networkData = _Network.getNetworkData() %}
{% set blogData = _Blog.getBlog() %}


{{ this.beginPage() }}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{{Html.encode(this.title)}}</title>
	{{ Html.csrfMetaTags | raw }}
	<link rel="home" href="{{ siteUrl }}" />

	<link rel="stylesheet" href="{{networkData.templatePath}}/static/css/index.css" type="text/css" media="all">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,900|Playfair+Display:700" rel="stylesheet">
	<link rel="shortcut icon" href="{{networkData.templatePath}}/static/images/favicon.png" />
	<link rel="icon" href="{{networkData.templatePath}}/static/images/favicon.svg" sizes="any" type="image/svg+xml" />

	<style>
		body, .body, p {
			font-family: "Raleway", sans-serif;
		}
		h1, h2, h3, h4, h5 {
			font-family: "Playfair Display", serif !important;
		}
	</style>
    {{ this.head() }}
	<script type="text/javascript" src="{{networkData.templatePath}}/static/js/index.js"></script>
</head>

<body>
<div id="container">
	{# {% set channels = blogData.blogHeaderMenu %}

	{% set channelObject = [] %}

	{% for channel in channels %}
		{% set channelObject = channelObject|merge({(channel|lower ~ ''): ('channel-' ~ loop.index)})  %}
	{% endfor %} #}

	{# {% set blogs = blogData.blogHeaderMenu %}

	{% set blogObject = [] %}

	{% for blog in blogs %}
		{% set blogObject = blogObject|merge({(menuItem.id|lower ~ ''): ('blog-' ~ loop.index)})  %}
	{% endfor %} #}

	{{ this.render('elements/header.twig')| raw }}

	<main id="content" role="main">
		{{ this.blocks['content'] | raw }}
	</main>

	<div class="modal" role="dialog">
		<div class="modal-dialog modal-extlg" role="document">
			<div class="modal-content social-modal">
			</div>
		</div>
	</div>

	{{ this.render('elements/footer.twig') | raw }}
</div>


{{ this.render('elements/javascript.twig', {network : networkData, blog: blogData}) | raw }}
<div class="SwappingHelper" style="display:none">
	<div style="width: 270px; height: 105px; padding: 3px; background-color: #FFF; max-width: 270px; max-height: 105px; overflow: hidden; z-index: 999 !important;">
		<img class="article-image" src="{{networkData.placeHolder100x100}}" style="width:97px; height: 97px; float: left;" />
		<p class="article-text" style="width: 165px; float: left; padding-left: 3px;color: #394659;font-size: 14px; font-family: Droid Serif,serif; line-height: 20px; margin-top:0px;">Dummy text  </p>
	</div>
</div>
{{ this.endBody() }}
</body>
{{ this.endPage() }}
</html>
